<?xml version="1.0" encoding="UTF-8"?>
<config>
	<workspaceId>the workspace id</workspaceId>
	<appkey>powerbi embedded key</appkey>
	<reportId>the report id</reportId>
	<embedUrl>the embedded url</embedUrl>
	<wcn>the workspace name</wcn>
	<words>http://spzcist22rj3jezukxeqw6wsw.azurewebsites.net/words</words>
	<emotion>http://spzcist22rj3jezukxeqw6wse.azurewebsites.net/emotion</emotion>
	<topic>http://spzcist22rj3jezukxeqw6wst.azurewebsites.net/topic</topic>
	<dataUrl>jdbc:sqlserver://spzcist22rj3jezukxeqw6srv.database.windows.net:1433;databaseName=spzcist22rj3jezukxeqw6db;user=cisdemo@spzcist22rj3jezukxeqw6srv;password=CECUser@201703</dataUrl>
</config>